{% extends 'algorithms/base.html' %}

{% block body %}
{% if object_list %}
    <h3>Lista dostępnych algorytmów:</h3>
    <ul>
        {% for alg in object_list %}
            <li> <h5><a href="{% url 'algorithms:detail' alg.id %}">{{ alg.name }}</a></h5></li>
        {% endfor %}
    </ul>

{% else %} 
    <h3>Nie dodano jeszcze żadnego algorytmu.</h3>
{% endif %}

<h5><a href="{% url 'algorithms:comp' %}" class="forums_link">Przejdź do porównania algorytmów</a></h5>
<li class="visible-xs"><a href="/" class="forums_link">Wróć do strony startowej</a></li>



<div id="tester" style="width:600px;height:250px;"></div>

<script>
	TESTER = document.getElementById('tester');
    /* /mnt/d/jSO_1_10.txt */
    Plotly.d3.csv('../../../static/benchmark_files/message.txt', function(err, rows){
    function unpack(rows, key) {
    return rows.map(function(row) { return row[key]; });
    }
    
    var z_data=[ ]
    for(i=-100;i<100; i++)
    {
    z_data.push(unpack(rows,i));
    }

    var data = [{
            z: z_data,
            type: 'surface'
            }];
    
    var layout = {
    title: 'Mt Bruno Elevation',
    autosize: false,
    width: 500,
    height: 500,
    margin: {
        l: 65,
        r: 50,
        b: 65,
        t: 90,
    }
    };
    Plotly.newPlot(TESTER, data, layout);
    });
</script>


{% endblock %}