{% extends 'algorithms/base.html' %}

{% block body %}

{% if user.is_authenticated %}
    <div class="container-fluid">
    
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Dodaj swój algorytm</h3>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'algorithms/form-template.html' %}
                            <button type="submit" class="btn btn-success">Prześlij</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <h3>Musisz być użytkownikiem Ewolucyjnego Rankingu, żeby móc dodawać swoje algorytmy.</h3>
    <span>
        <h5><a href="{% url 'algorithms:login' %}">Zaloguj się</a> lub <a  href="{% url 'algorithms:register' %}">Załóż konto</a></h5>
    </span>
{% endif %}
    
{% endblock %}