{% extends 'algorithms/base.html' %}

{% block body %}
{% if object_list %}
    <h3>Lista dostępnych algorytmów:</h3>
    <ul>
        {% for alg in object_list %}
            <li> <h5><a href="{% url 'algorithms:detail' alg.id %}">{{ alg.name }}</a></h5></li>
        {% endfor %}
    </ul>

{% else %} 
    <h3>Nie dodano jeszcze żadnego algorytmu.</h3>
{% endif %}

<h5><a href="{% url 'algorithms:comp' %}" class="forums_link">Przejdź do porównania algorytmów</a></h5>
<li class="visible-xs"><a href="/" class="forums_link">Wróć do strony startowej</a></li>

{% endblock %}