{% extends 'algorithms/base.html' %}

{% block body %}

    <div class="container-fluid">
    
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Wybierz algorytmy do porównania:</h3>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'algorithms/form-template.html' %}
                            <button id="demo" type="submit" class="btn btn-success">Prześlij</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if error_cpp %}
        <h3>Coś poszło nie tak. Kod błędu: {{ error_cpp }}</h3>
    {% endif %}
    {% if fig_html %}
    <div>
        <h4>Porównanie dla funkcji {{ fun_name }} dla wymiaru {{ out1.dimension }}</h4>
        <div id="tester" style="width:600px;height:250px;"></div>

        {{ fun_file_path | json_script:"path" }}
        {{ fun_name | json_script:"benname"}}


        <script>
            var filee_path = JSON.parse(document.getElementById('path').textContent);
            var namee = JSON.parse(document.getElementById('benname').textContent);
            TESTER = document.getElementById('tester');
            /* /mnt/d/jSO_1_10.txt */
            Plotly.d3.csv( filee_path, function(err, rows){
            function unpack(rows, key) {
            return rows.map(function(row) { return row[key]; });
            }
            
            var z_data=[ ]
            for(i=-100;i<=100;i++)
            {
            z_data.push(unpack(rows,i));
            }
        
            var data = [{
                    z: z_data,
                    type: 'surface'
                    }];
            
            var layout = {
            title:  namee,
            autosize: false,
            width: 500,
            height: 500,
            margin: {
                l: 65,
                r: 50,
                b: 65,
                t: 90,
            }
            };
            Plotly.newPlot(TESTER, data, layout);
            });
        </script>
        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
        <table class="table table-striped table-hover table-bordered">
 
                <tr class="table table-striped table-hover">   
                    <th>Algorithm</th>
                    <th>Best</th>
                    <th>Worst</th>
                    <th>Median</th>
                    <th>Mean</th>
                    <th>Std</th>
                </tr>
        
            <tr class="table table-striped table-hover">
                <td>{{ out1.algorithm }}</td>
                <td>{{ out1.best }}</td>
                <td>{{ out1.worst }}</td>
                <td>{{ out1.median }}</td>
                <td>{{ out1.mean_str }}</td>
                <td>{{ out1.std }}</td>
            </tr>

            <tr class="table table-striped table-hover">
                <td>{{ out2.algorithm }}</td>
                <td>{{ out2.best }}</td>
                <td>{{ out2.worst }}</td>
                <td>{{ out2.median }}</td>
                <td>{{ out2.mean_str }}</td>
                <td>{{ out2.std }}</td>
            </tr>

        </table>

    </div>
    {% endif %}
    <div> {{ fig_html | safe }} </div>
    <div> {{ box_html | safe }} </div>
 
{% endblock %}