{% extends 'algorithms/base.html' %}

{% block body %}

    <div class="container-fluid">
    
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Wybierz algorytmy do porównania:</h3>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'algorithms/form-template.html' %}
                            <button id="demo" type="submit" class="btn btn-success">Prześlij</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if fig_html %}
    <div>
        <table class="table table-striped table-hover table-bordered">

                <tr class="table table-striped table-hover">   
                    <th>Algorithm</th>
                    <th>Best</th>
                    <th>Worst</th>
                    <th>Median</th>
                    <th>Mean</th>
                    <th>Std</th>
                </tr>
        
            <tr class="table table-striped table-hover">
                <td>{{ out1.algorithm }}</td>
                <td>{{ out1.best }}</td>
                <td>{{ out1.worst }}</td>
                <td>{{ out1.median }}</td>
                <td>{{ out1.mean_str }}</td>
                <td>{{ out1.std }}</td>
            </tr>

            <tr class="table table-striped table-hover">
                <td>{{ out2.algorithm }}</td>
                <td>{{ out2.best }}</td>
                <td>{{ out2.worst }}</td>
                <td>{{ out2.median }}</td>
                <td>{{ out2.mean_str }}</td>
                <td>{{ out2.std }}</td>
            </tr>

        </table>

    </div>
    {% endif %}
    <div> {{ fig_html | safe }} </div>
    <div> {{ box_html | safe }} </div>
 
{% endblock %}