{% extends 'algorithms/base.html' %}

{% block body %}

<h4>Witaj w najlepszym serwisie do rankingowania Algorytmów Ewolucyjnych.</h4>
<h5>Zarejestruj lub zaloguj się, dodaj plik z wynikami swojego algorytmu i zobacz jak sobie poradził na tle innych!</h5>
<h5>Szczegóły odnośnie formy i nazwy plików wsadowych znajdują się <a href="https://github.com/P-N-Suganthan/CEC2017-BoundContrained/blob/master/Definitions%20of%20%20CEC2017%20benchmark%20suite%20final%20version%20updated.pdf" class="forums_link">tutaj</a>.</h5>

{% endblock %} 
