{% extends 'algorithms/base.html' %}

{% block body %}
{% if object_list %}
    <table class="table table-striped table-hover table-bordered">
        <tr class="table table-striped table-hover">
            <th><h5>Nazwa algorytmu</h5></th>
            <th><h5>Autor</h5></th>
            <th><h5>Wynik</h5></th>
        </tr>
        {% for alg in object_list %}
            <tr class="table table-striped table-hover">
                <td><h5><a href="{% url 'algorithms:detail' alg.id %}">{{ alg.name }}</a></h5></td>
                <td><h5>{{ alg.author }}</h5></td>
                <td><h5>{{ alg.score }}</h5></td>
            </tr>

        {% endfor %}
    </table>


{% else %} 
    <h3>Nie dodano jeszcze żadnego algorytmu.</h3>
{% endif %}

{% endblock %}